p {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
map > area {
  outline: none;
}
table.align-c {
  margin: 0 auto;
}
table.align-r {
  margin: 0 0 0 auto;
}
img {
  border: none;
}
.float-pos-l {
  float: left;
}
.float-pos-r {
  float: right;
}
.ts0 {
  font-family: Verdana;
  color: Black;
}
.ts1 {
  font-family: Verdana;
  font-size: 14pt;
  font-weight: bold;
  color: Black;
}
.ts2 {
  font-family: Tahoma;
}
.ts3 {
  font-family: Tahoma;
}
.ts4 {
  font-family: Tahoma;
  font-size: 16pt;
  font-weight: bold;
}
.ts5 {
  font-family: Verdana;
}
.ts6 {
  font-family: Tahoma;
  font-size: 14pt;
  font-weight: bold;
}
.ts7 {
  font-family: Tahoma;
  font-size: 13pt;
  font-weight: bold;
}
.ts8 {
  font-family: Tahoma;
  text-decoration: underline;
}
.ts9 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts10 {
  font-family: Tahoma;
  font-weight: bold;
  text-decoration: underline;
}
.ts11 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts12 {
  font-family: Consolas;
}
.ts13 {
  font-family: Tahoma;
}
.ts14 {
  font-family: Tahoma;
  font-style: italic;
}
.hs0 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Blue;
}
a.hs0:hover {
  color: Red;
}
.hs1 {
  font-family: Verdana;
  text-decoration: none;
  color: #337e91;
}
a.hs1:hover {
  color: Black;
}
.hs2 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Blue;
}
.ps0 {
  padding-top: 2px;
  padding-left: 5px;
  font-size: 8pt;
}
.ps1 {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
}
.ps2 {
  padding-right: 5px;
  text-align: right;
}
.ps3 {
  font-size: 4pt;
}
.ps4 {
  text-align: center;
  font-size: 11pt;
}
.ps5 {
  text-align: center;
}
.ps6 {
  font-size: 8pt;
}
.ps7 {
  font-size: 11pt;
}
.ps8 {
  padding-left: 36.6pt;
}
.ps9 {
  padding-left: 36.6pt;
  font-size: 11pt;
}
.ps10 {
  padding-left: 1.27cm;
  text-indent: -0.64cm;
  font-size: 11pt;
}
.tbl0 {
  width: 100%;
  border-collapse: collapse;
  border-style: none;
}
.tbl0 > tbody > tr.row0 {
  border-style: none;
}
.tbl0 > tbody > tr > td.cell0 {
  width: 15px;
  vertical-align: top;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell1 {
  vertical-align: top;
  border-style: none;
}
.tbl1 {
  width: 100%;
  border-collapse: collapse;
  border-style: solid;
  border-width: 2px;
  border-color: #bdcbdb;
}
.tbl1 > tbody > tr.row0 {
  border-style: none;
}
.tbl1 > tbody > tr > td.cell0 {
  width: 6px;
  vertical-align: top;
  border-style: none;
  background-color: White;
}
.tbl1 > tbody > tr > td.cell1 {
  vertical-align: top;
  border-style: none;
}
.tbl1 > tbody > tr > td.cell2 {
  vertical-align: top;
  border-style: none;
  background-color: White;
}
.tbl1 > tbody > tr > td.cell3 {
  width: 6px;
  height: 22px;
  vertical-align: top;
  border-style: none;
  background-color: #c5dbef;
}
.tbl1 > tbody > tr > td.cell4 {
  vertical-align: middle;
  border-style: none;
  background-color: #c5dbef;
}
.tbl1 > tbody > tr > td.cell5 {
  width: 6px;
  vertical-align: top;
  border-style: none;
  background-color: #c5dbef;
}
.tbl2 {
  width: 100%;
  border-collapse: collapse;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 3px;
  border-bottom-color: #e6e6e6;
}
.tbl2 > tbody > tr.row0 {
  border-style: none;
}
.tbl2 > tbody > tr > td.cell0 {
  vertical-align: top;
  border-style: none;
  background-color: #e4eef6;
}
.tbl2 > tbody > tr > td.cell1 {
  width: 100px;
  vertical-align: middle;
  border-style: none;
  background-color: #e4eef6;
}
.hs-mobile img.hs-fullwidth-m {
  width: 100%;
  height: auto;
  float: none;
}